<footer class="page-footer font-medium" style="background-color:white">
    <div class="container" style="color:black">
        <p>Creativily designed and inovated for the internet</p>
        <ul class="footerlist">
            <li>Contact Us</li>
            <li>F.A.Q</li>
            <li>Cookies Policy</li>
            <li>Legal Terms</li>
            <li>Privacy Policy</li>
            <li>Moringa finest</li>
        </ul>
        <ul class="footerlist">
            <li><i class="fab fa-instagram"></i></li>
            <li><i class="fab fa-twitter"></i></li>
            <li><i class="fab fa-facebook-f"></i></li>
        </ul>
    </div>
</footer>

